
<ion-view view-title="Sign In">
  <ion-content class="padding">
    <div class="centered">
      <h3 id="orgTitle">{{clock.orgName}}</h3>
    </div>

    <div class="list">
      <form>
      <label class="item dropdown-borders item-input button-full item-select">
        <div class="input-label label-title">
          Group
        </div>
        <select class="select" ng-model='$parent.group' >
          <option class="select" ng-repeat="group in clock.groups">{{group.groupName}}</option>
          <option selected></option>
        </select>
      </label>

      <label class="item dropdown-borders item-input button-full item-select">
        <div class="input-label label-title">
          Activity
        </div>
        <select ng-model='$parent.activity' ng-options='activity.activityName as activity.activityName for activity in clock.activityNames'>
          <option></option>
          <option selected></option>
        </select>
      </label>
      </form>
    </div>

    <button id='signIn' ng-click="createNewEvent()" class="button button-block">Sign In</button>
    <button id='signOut' ng-click="signOut()" class="button button-block">Sign Out</button>

  </ion-content>
</ion-view>
