<!-- <ion-view> -->
  <!-- <ion-content id='login'> -->
    <div id="login">
      <div class="wrapper">
        <div class="login-container" ng-controller='login'>
          <div class="wrap center">
            <div class="timer"></div>
          </div>
          <span class="logo-login"><i class="fa fa-picture-o"></i></span>
          <h1 class="heading">Clocker</h1>
          <form class="form">
            <input id="user-email" ng-model="email" type='email' placeholder='Email' name='email' autofocus required>
            <input id="user-password" ng-model="password" type='password' placeholder='Password' name='password'>
            <button id="login-button" ng-click="login()">Login</button>
          </form>

          <div>
            <h5><strong>Just want to demo the app?</strong></h5>
            <h5>Feel free to use my demo account by signing in with nathansbaldwin@gmail.com, password: 123</h5>
            <h5><strong>New to Clocker Mobile?</strong> Click <a href="#/register" class="underline">here</a> to get started in 5 seconds!</h5>
          </div>

        </div>
      </div>
    </div>
  <!-- </ion-content> -->
<!-- </ion-view> -->
