<ion-view view-title="Invitations">
  <ion-content>
    <ion-list >
      <div id='inviteListSpacer'></div>
      <ion-item class='item-borders item item-icon-right' ng-repeat="invitation in userData.invitations">
        <h2>{{invitation.orgName}}</h2>
        <i ng-click='declineInvite(invitation._id)' class="icon ion-ios-minus-outline"></i>
        <i ng-click='acceptInvite(invitation._id)' class="icon ion-ios-plus left-icon-margin"></i>
        <!-- <ion-toggle  ng-model="settings.enableFriends">
            Enable Friends
        </ion-toggle> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
