<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar class='header-title'>
  <ion-nav-back-button id='back-button'>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Manage Invitations Tab -->
  <ion-tab  class="tab-icons" icon-off="ion-ios-personadd-outline" icon-on="ion-ios-personadd dark" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Clocklist Tab -->
  <ion-tab class="tab-icons" icon-off="ion-ios-time-outline dark" icon-on="ion-ios-time dark" href="#/tab/clockList">
    <ion-nav-view name="clockList"></ion-nav-view>
  </ion-tab>

</ion-tabs>
